/* body {
  padding: 0 !important;
  margin: 0 !important;
  box-sizing: border-box !important;
} */

/* .container {
  background: #E9E4F0;
} */

#Home {
  background-image: url('https://user-images.githubusercontent.com/79133968/139634115-66cac429-a279-4483-af7c-b2b0788900d2.jpg');
  background-size: cover;
  background-position: center;

  /* margin: 0 !important;  */
  /* height: 50vw; */

  width: 100%;
  height: 50vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  background: #E9E4F0;
}

/* footer {
  background: linear-gradient(to bottom right, #C9D6FF , #E2E2E2);
} */