.container {
  /* border: 1px solid slateblue; */
  /* width: 100%; */
  /* padding: 24px; */
}

.cardContainer {
  width: 100%;
  padding: 2rem;
}

.colBox {
  padding: 2rem;
}

.card {
  height: 150px;
}
